@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
*{margin:0; padding:0;}
body {
		//font-family: "Century Gothic", 'Lato', sans-serif;
        font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

.ja-main-tabs,
.ja-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    //background: blue;
    //background: url(./images/background/01.jpg) no-repeat fixed;
	text-align: center;
	padding: 0 2em;

    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}

.ja-main-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgba(255,255,255, 0.3);
    z-index: 10;
    /*&--top {
        position: fixed;
        top: 0;
    }*/
}
.ja-main-tabs-container--top {
    
        position: fixed;
        top: 0;

}


.ja-main-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;
	  &:hover {
			color:white;
      background: rgba(102,177,241,0.8);
			transition: all 0.5s ease;
    }
}

.ja-main-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    //background: #66B1F1;
    background: url(./images/rainbow-nebula.jpg) no-repeat center center;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
	.ja-main-tabs,
	.ja-slide {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
	}
	.ja-main-tab {
		font-size: 1rem;
	}
    .ja-main-tabs-container img {
        width:250px;
    }
}
@media only screen and (max-width: 799px) {
    .ja-main-tabs-container img {
        width:70%;
    }
}

/*----------------main----------------------*/
.ja-main-tabs {
    // background: url(./images/rainbow-nebula.jpg) no-repeat fixed;
    // background-position: center;
    //background: #2d2d2d; 
    background: #000;   
}
.title{
  font-weight: 800;
  color: transparent;
  font-size:10em;
  background: url("./images/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  //line-height:90px;
  letter-spacing: -8px;

  }
/*--------------------scrolldown_button-----------------------------*/
.scroll_down {
  //position: relative;
  width: 100%;
  height: 100%;
}
.scroll_down::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  //background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  //background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
.button a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.button a:hover {
  opacity: .5;
}

.scroll_down a {
  padding-top: 60px;
}
.scroll_down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.scroll_down a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.scroll_down a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*----------scroll_top button--------------------------*/

#scroll_top {
  background:none;
  border:0px;
  position:fixed;
  bottom:0px;
  right:20px;
  opacity:0.3;
  transition:0.5s;
  z-index:100;
}
#scroll_top .fa {
  color:#000;
  font-size:4em;
}
#scroll_top:focus {outline:0 !important;}
#scroll_top:hover {
  transition:0.5s;
  opacity:0.8;
  /*
  transform:rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform:rotateY(180deg); /* IE 9 */
  /* -moz-transform:rotateY(180deg); /* Firefox */
  /* -o-transform:rotateY(180deg); /* Opera */
}



 /*------------------inner Iam---------------------------------*/
  .Iam {
  padding: 2em 5em;
  //font: normal 40px/50px Montserrat, sans-serif;
  font-size: 3em;
  color: #eee;
  text-align: left;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 60px;
  //top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  //white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
.color01{
  text-transform: uppercase;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color02{
  text-transform: uppercase;
  background: linear-gradient(to right, #330867 0%, #ff00f7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color03{
  text-transform: uppercase;
  background: linear-gradient(to right, #ff00f7 0%, #ff00f7 10%, #30CFD0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes move{
0%  { top: 0px; }
30% { top: -60px; }
90% { top: -130px;  }

}

@-webkit-keyframes move {
    0%  { top: 0px; }
 30% { top: -60px; }
90% { top: -130px;  }
}
